* {
  box-sizing: border-box
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: #666;
  background: #F6F6F6;
}

header{
   margin-top: -.8em;
   margin-bottom: 0em;
   margin-right: -.8em;
   margin-left: -.5em;
   overflow: hidden;
   background-color: #000000;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

img:not(#logo)  {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  overflow: hidden;
  transition: all .2s linear;
  margin: 1rem;
}

#logo {
  display: block;
  max-width: 100%;
  overflow: hidden;
  transition: all .2s linear;
}

.container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

img:not(#logo):focus{
  box-shadow: 4px 12px 60px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

img:not(#logo):hover{
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}
